[submodule "packages/tools/googleSheets"]
	path = packages/tools/googleSheets
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-googleSheet
[submodule "packages/tools/slack"]
	path = packages/tools/slack
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-slack.git
[submodule "packages/tools/unstructured"]
	path = packages/tools/unstructured
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-unstructured
[submodule "packages/tools/qdrantVectorStore"]
	path = packages/tools/qdrantVectorStore
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-qdrantVectorStore.git
[submodule "packages/tools/supabase"]
	path = packages/tools/supabase
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-supabase.git
[submodule "packages/tools/hubspot"]
	path = packages/tools/hubspot
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-hubspot.git
[submodule "packages/tools/gmail"]
	path = packages/tools/gmail
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-gmail.git
[submodule "packages/tools/chromaVectorStore"]
	path = packages/tools/chromaVectorStore
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-chromaVectorStore.git
[submodule "packages/tools/telegramBot"]
	path = packages/tools/telegramBot
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-telegramBot.git
[submodule "packages/tools/discord"]
	path = packages/tools/discord
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-discord.git
[submodule "packages/tools/pineconeVectorStore"]
	path = packages/tools/pineconeVectorStore
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-pineconeVectorStore.git
	branch = main
[submodule "packages/tools/comfyUI"]
	path = packages/tools/comfyUI
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-comfyUI.git
	branch = main
[submodule "packages/tools/microsoftExcel"]
	path = packages/tools/microsoftExcel
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-microsoftExcel.git
	branch = main
[submodule "packages/tools/googleDrive"]
	path = packages/tools/googleDrive
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-googleDrive.git
[submodule "packages/tools/weaviateVectorStore"]
	path = packages/tools/weaviateVectorStore
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-weaviateVectorStore.git
[submodule "packages/tools/chart"]
	path = packages/tools/chart
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-chart.git
[submodule "packages/tools/pdfProcess"]
	path = packages/tools/pdfProcess
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-pdfProcess.git
[submodule "packages/tools/openWeather"]
	path = packages/tools/openWeather
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-openWeather.git
[submodule "packages/tools/yahooFinance"]
	path = packages/tools/yahooFinance
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-yahooFinance.git
