[submodule "packages/tools/googleSheets"]
	path = packages/tools/googleSheets
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-googleSheet
[submodule "packages/tools/slack"]
	path = packages/tools/slack
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-slack.git
[submodule "packages/tools/unstructured"]
	path = packages/tools/unstructured
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-unstructured
[submodule "packages/tools/qdrantVectorStore"]
	path = packages/tools/qdrantVectorStore
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-qdrantVectorStore.git
[submodule "packages/tools/hubspot"]
	path = packages/tools/hubspot
	url = https://github.com/Finley-Agent-Zhuazhua/fastgpt-plugin-hubspot.git
